<!DOCTYPE html>
<html>
    <head>
        <title>{% block titulo %}{% endblock titulo %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Modelo genérico de blog">
        <meta name="keywords" content="Blog, Django, Post, Autores, Comentários">
        <meta name="author" content="Luiz Eduardo Amorim: github: luizsla">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

        {% block css %}{% endblock css %}
    </head>
    <body>
        {% block conteudo %}
        {% endblock conteudo %}

        {% block js %}{% endblock js %}
    </body>
</html>
